.input_group {
  position: relative;
}
.input {
  border: none;
  border-bottom: 1px solid grey;
  background: transparent;
  height: 30px;
  &:focus {
    outline: none;
    border-bottom: 1px solid blue;
    transition: border-bottom 0.3s ;

    & ~ .label {
      top: -10px;
      font-size: 12px;
      color: blue;
    }
  }
}

.label {
  position: absolute;
  left: 0px;
  top: 8px;
  color: grey;
  transition: all 0.125s, font-size 0.125s;
}

.label_up {
  top: -10px;
  font-size: 12px;
}
